body{
  background-color: rgb(48, 154, 119);
}

.section{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.section1{
  margin: 14vh 6vh 0 0;
  background-color: white;
  width: 45vh;
  height: 55vh;
}

h1{
  text-align: center;
  padding-top: 25px;
} 

input{
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 12px 60px 12px 15px;
  border-radius: 3px;
  border: solid lightgrey 2px;
}

.flink{
  margin-left: 20px;
  text-decoration: none;
  color: rgb(23, 151, 121);
}

button{
  margin: 20px 0 0 20px;
  width: 37vh;
  height: 5vh;
  background-color: rgb(48, 154, 119);
  border: none;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

p{
  margin-left: 20px;
}


.slink{
  text-decoration: none;
  color: rgb(48, 154, 119);
}



.section2{
  margin: 10vh 0 0 0;
  background-color: white;
  width: 45vh;
  height: 58vh;



}