body{
  background: linear-gradient(to bottom right, rgb(133, 221, 250), rgb(231, 118, 231));
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
form{
  background-color: white;
  height: 70vh;
  width: 80vh;
  margin-left: 50vh;
  margin-top: 10vh;
}
h2{
  padding: 3vh 0 0 3vh;
}
.row{
  display: flex;

}
.margin{
  margin-left: 3vh;
}
.input{
  margin-top: 1vh;
  margin-bottom: 2vh;
  height: 30px;
  width: 230px;
  border-color: rgb(182, 180, 180);
  border-style: solid;
  border-radius: 3px;
  padding-left: 10px;
  transition: 1s;

  &:hover{
  box-shadow: -6px 6px 20px rgba(154, 152, 152, 0.5);
  }
}
h3{
  margin-left: 3vh;
}
.radio{
  margin-left: 3vh;
  margin-right: 10px;
}
.label{
  margin-right: 50px;
}
button{
  margin-top: 5vh;
  margin-left: 9vh;
  padding: 10px 190px 10px 190px;
  color: white;
  font-weight: bold;
  background: linear-gradient(to bottom right, rgb(66, 178, 215), rgb(222, 101, 222));
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 2s;
  
  &:hover{
    transform: scale(1.1 , 1.7) ;
  }
}